/Main/nbproject/private/
/Main/build/
/Main/dist/
/task2/nbproject/private/
/task2/build/
/task 3/nbproject/private/
/task 3/build/
/task4/nbproject/private/
/task4/build/
/Task5/nbproject/private/
/Task5/build/
